#Box{ 
background-color: grey;
  width: 60%;
    height: 30%;
  border: 15px;
  padding-top: 2px;
    margin: 20%;
    text-align: center;
    font-size: 30px ;
    color: white;
    opacity:0.7;
}



p{color: white;
font-size: 30px;
}

ul{
 list-style-type: none;
  margin-left: 20%;
    margin-right: 10%;
  padding: 0;
    overflow: hidden;
}
li a{
    display: block;
color: white;
    font-size: 20px;
  text-align: center;
  padding: 10px;  
    margin-left: ;
  text-decoration: none;
}
ul{
    column-width: 80px;
  
}



/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a:hover:not(.active) {
  background-color: #111;
}*/

/*.active {
  background-color: #4CAF50;
   float: right;
}
a:hover:not(.active) {
  background-color: #111;
}

.navbar{
  padding: 0;
    margin: 10px;
  background-color: #333;
    width: 100%;
    overflow: hidden;
}
.navbar a{
  
  color: white;
  text-align:center;
  padding: 1px 10px 10px;
  text-decoration: none;

    
}

.navbar a:hover{
    color:darkgray;*/




















.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  
  padding: 1%;
margin-left: 20%;
margin-right: 20%;
    height: 60%;
}
.grid-item {
  background-color: #e0caba;
  border: 1px solid black;
  font-size: 30px;
  text-align: center;
   
}
.grid-container img{
    width:100%;
    height:80%%;
}
.grid-item a {
    text-decoration: none;
}
