body {
   background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(77,106,140,1) 100%);
}


#Box{ 
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  margin: auto;
  width: 50%;
  border: 3px thin;
  padding: 10px;
    color: white;
    opacity:0.9;
}
#Box h1{
    padding: 2%;
    margin-top: 20px;
  font-size: 50px ;  
}

#bar{
    background-color: white;
  width: 70%;
    height: 50%;
    font-size: 23px;
    padding-top: 20px;
    align-content: center;    
  color: black;
  margin-left: 20%;
}

section{
    padding: px;
}

#foot {
  /*height: 650px;
    width: 220px;*/
    margin: auto;
  width: 160px;
    height: 425px;
  border: 1px thin;
  padding: 1%;
  float: left;
  font-style: italic;
  background-color: #6392b1cc;
    color: white;
    overflow: hidden;
    font-size: 25px;
}
iframe{
    margin-top: 3px;
    float: right;
    height: 450px;
    width: 220px;
    overflow: hidden;
}


p{color: white;
font-size: 20px;
}

#base {
   margin: 10px;
  width: 300px;
    height: 150px;
  border: 1px thin;
  float: right;
  font-style: italic;
  background-color: #6b96b99e;
    color: white;
    overflow: hidden;
    font-size: 20px;
    padding: 10px;
}
.front_box{
    font-size: 25px;
}

ul{
 list-style-type: none;
    margin-left:25%;
    margin-right: 10%;
    margin-top: 5%;
  padding: 0;
    height: 100px;
}
li {
    display: block;
color: white;
    font-size: 20px;
  text-align: center;
  padding: 0;  
    margin-left: ;
  text-decoration: none;
}
ul{
    column-width: 80px;
  
}



/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a:hover:not(.active) {
  background-color: #111;
}*/

/*.active {
  background-color: #4CAF50;
   float: right;
}
a:hover:not(.active) {
  background-color: #111;
}

.navbar{
  padding: 0;
    margin: 10px;
  background-color: #333;
    width: 100%;
    overflow: hidden;
}
.navbar a{
  
  color: white;
  text-align:center;
  padding: 1px 10px 10px;
  text-decoration: none;

    
}

.navbar a:hover{
    color:darkgray;*/




/*
new css
*/



#scroll-animate
{
  overflow: hidden;
}

#scroll-animate-main
{
  width: 100%;
  left: 0;
  position: fixed;
}

#heightPage,
#heightScroll
{
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage
{
  left: 0;
}

#heightScroll
{
  right: 0;
}

.header
{
  width: 100%;
  height: 100%;
  /*background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);*/
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
  top: 0;
  z-index: -1;
}

footer{
    margin-top: 1%;
  width: 98%;
    height: 250px;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  bottom: -300px;
  z-index: -1;
    overflow: hidden;
    padding: 1%;
}

.wrapper
{
  height: 800px;
  min-height: 800px;
      
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(77,106,140,1) 100%);
    position: relative;
  z-index: 1;
}

.wrapper-parallax {
    margin: auto;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
background-color: #4caf8d61;
    background-repeat: no-repeat;
    background-size: contain;
}


 h1{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: Helvetica;
  font-size: 80px;
  color: #fff;
}

.header h1{}

.wrapper h1{
  line-height: 1000px;
  color: #999;
}

footer h1,p
{
  font-size: 30px;
}

header,
footer,
#scroll-animate-main
{
  -webkit-transition-property: all;
     -moz-transition-property: all;
      transition-property: all;

  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
     -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
      transition-timing-function: cubic-bezier(0, 0, 0, 1);
}





footer{
    color:white;
    font-size: 30px;
}


/*-=-=-=-=-=-=-=-=-=-*/
/* Column Grids */
/*-=-=-=-=-=-=-=-=-= */

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }

/*-=-=-=-=-=-=-=-=-=-=- */
/* Flip Panel */
/*-=-=-=-=-=-=-=-=-=-=- */

.wrapper{ width: 980px; margin: 0 auto; hoverflow: hidden;}

.panel {
	margin: 0 auto;
	height: 130px;  
	position: relative;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
}

.panel .front,
.panel .back {
	text-align: center;
}
	
.panel .front {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 900;
	text-align: center;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	   -moz-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

.panel .back {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 1000;
	-webkit-transform: rotateY(-180deg);
	   -moz-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.panel.flip .front {
	z-index: 900;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.panel.flip .back {
	z-index: 1000;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
}
.box1{
	background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	width: 250px;
	height: 450px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    overflow: hidden;
}

.box1 img{
    width:100%;
    height:80%%;
}
.box2{
	background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
	width: 250px;
	height: 450px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
   
}


