h2, h3{
color:white;
    margin-left: 30px;
font-weight: bold;
font-size: 30px;
    }
h1{
    font-size: 40px;
    text-decoration:underline;
}


#first-para{
color: yellow;
font-weight: bold;
font-size: 70px;
    }
.first-para {
color: sandybrown;
font-weight: bold;
font-size: 70px;
    }

/*div { 
background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: auto;
    
    }*/
#back_link { 
    background-color: cadetblue;
    height: 175px;
    width: 500px;
    border: 3px;
    padding: 25px;
    margin-left: 20px;
    overflow: hidden;
    }
    
        img {
    float: center;
        }
    
    button {
  background-color: orange;
    border-radius: 50%;
  border: medium;
  color: solid black;
padding: 10px 10px;
  font-size: 15px;
 margin: 11px 10px; 
  cursor: pointer;
        }

.images{
margin-left: 100px;
}

p{ 
    margin-left: 30px;
    margin-right: 30px;
    color:darksalmon;
    
    font-family: serif;
}


.all_back{
    background-image: url(../Images/photo-1588704146203-8c1c5927ff23.jpg);
  background-position: center;
  background-repeat: no-repeat;
background-position: center;
  background-size: cover;  
}

